@import 'theme';
@import 'fonts';

app-text {
   display: block;
   //padding: 10px;
 }

.text {
  .color-light{
    h1, h2, h3, p, span, i, li, a, button {
      color: $light-color;
    }
  }

  .color-one{
    h1, h2, h3, p, span, i, li, a, button {
      color: $color1;
    }
  }

  .color-two{
    h1, h2, h3, p, span, i, li, a, button {
      color: $color2;
    }
  }

  .color-tree{
    h1, h2, h3, p, span, i, li, a, button {
      color: $color3;
    }
  }

  .color-success {
    h1, h2, h3, p, span, i, li, a, button {
      color: $color-success;
    }
  }

  .color-error {
      h1, h2, h3, p, span, i, li, a, button {
        color: $color-error;
      }
    }

}


// .pages {
//   h1, h2, h3, p, span, i, li {
//     color: $dark-color;
//   }
// }

// sizes
h1 {
  font-size: $h1-fz;
}
h2 {
  font-size: $h2-fz;
}
h3 {
  font-size: $h3-fz;
}
p, span, i, li {
  font-size: $regular-fz;
}
